/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://github.com/denh4mish/denh4mish.github.io/blob/main/Smithy%20Final/Smithybase.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
