/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(ashbase.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .button {
    position: absolute;
    background: url(ashABXY.png);
    width: 48px;
    height: 48px;
}

.xbox .stick {
    position: absolute;
    background: url(ashsticks.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .face {
    background: url(AshDpad.png);
    position: absolute;
    opacity: 0;
}
